*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExdXh0M3B1ZHkybzkza3RjOXljbG14NXVqZHh1MGRzcmRnM2I3dTAzNCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/pVGsAWjzvXcZW4ZBTE/giphy.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
.container{
    width: 100%;
    padding: 10px;
}
.card {
    width: 380px;
    height: 515px;
    margin: 100px auto 0;
    background: transparent; 
    perspective: 1000px; 
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.front, .back{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    backface-visibility: hidden;
}
.front{
    background: url(image/Fushi\ ã€£\ To\ Your\ Eternity.jpg);
    background-size: cover;
    background-position: center;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #ccc;
}
.front h2{
    font-weight: 500;
}
.front p{
    color: #ccc;
    font-size: 13px;
}
.front button{
    width: 120px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px;
    padding: 8px 20px;
}
.back{
    background: #fff;
    color: #333;
    padding: 20px 40px;
    transform: rotateY(180deg);
}
.back h1{
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 10px;
}
.back p{
    font-size: 14px;
}
.ba
.card:hover .card-inner{
    transform: rotateY(180deg);
}